// Breakpoints
$bp-xs: 360px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1366px;

:root {
  // Fonts.
  --font-family-primary: 'Open Sans', sans-serif;
  --font-family-secondary: 'Contrail One', sans-serif;
  --font-size: 1rem;
  --font-size-xs: 0.6rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2.5rem;
  --font-weight-normal: 400;
  --font-weight-strong: 700;

  // Vertical rythm.
  --vr: 1rem;

  // Primary colour pallet.
  --col-primary: hsl(120, 96%, 23%);
  --col-secondary: hsl(0, 0%, 100%);
  --col-tertiary: hsl(0, 0%, 0%);

  // Alternate colour pallet.
  --col-primary-alt: hsl(120, 96%, 28%);
  --col-primary-alt-2: hsl(120, 96%, 18%);
  --col-primary-alt-3: hsl(120, 96%, 11%);

  // Alpha transparency colour pallet.
  --col-primary-alpha-1: hsla(120, 96%, 23%, 0.3);
  --col-primary-alpha-2: hsla(120, 96%, 23%, 0.85);
  --col-secondary-alpha-1: hsla(0, 0%, 100%, 0.05);
  --col-tertiary-alpha: hsla(0, 0%, 0%, 0.25);
  --col-tertiary-alpha-2: hsla(0, 0%, 0%, 0.35);

  // Background colours.
  --bg-primary: var(--col-primary);
  --bg-secondary: var(--col-secondary);
  --bg-tertiary: var(--col-tertiary);

  // Alternate background colours.
  --bg-primary-alt: var(--col-primary-alt);
  --bg-primary-alt-2: var(--col-primary-alpha-1);
  --bg-primary-alt-3: var(--col-primary-alpha-2);
  --bg-secondary-alt: var(--col-secondary-alpha-1);
  --bg-tertiary-alt: var(--col-tertiary-alpha);
  --bg-tertiary-alt-2: var(--col-tertiary-alpha-2);

  // Text colours.
  --text-primary: var(--col-secondary);

  // Borders
  --bdr-primary: var(--col-secondary);
  --bdr-secondary: var(--col-tertiary-alpha);
  --bdr-radius-sm: 3px;
  --bdr-radius-md: 5px;
  --bdr-radius-lg: 7px;

  // Margins.
  --mg-xxs: calc(var(--vr) / 8);
  --mg-xs: calc(var(--vr) / 4);
  --mg-sm: calc(var(--vr) / 2);
  --mg-md: var(--vr);
  --mg-lg: calc(var(--vr) * 2);
  --mg-xl: calc(var(--vr) * 3);

  // Padding.
  --pd-xs: calc(var(--vr) / 4);
  --pd-sm: calc(var(--vr) / 2);
  --pd-md: var(--vr);
  --pd-lg: calc(var(--vr) * 2);

  // z-index.
  --z-overlay: 900;
  --z-header: 800;
  --z-footer: 700;
  --z-default: 1;
  --z-below: -1;
  --z-bottomless-pit: -9000;
}
