// Colours.
$col-primary: #027002;
$col-secondary: #fff;
$col-tertiary: #000;

// Breakpoints
$bp-xs: 360px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1366px;

:root {
  // Fonts.
  --font-family-primary: 'Open Sans', sans-serif;
  --font-family-secondary: 'Contrail One', sans-serif;
  --font-size: 1rem;
  --font-size-xs: 0.6rem;
  --font-size-sm: 0.8rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2.5rem;
  --font-weight-normal: 400;
  --font-weight-strong: 700;

  // Vertical rythm.
  --vr: 1rem;

  // Colours.
  --col-primary: #{$col-primary};
  --col-primary-light: #{lighten($col-primary, 5%)};
  --col-primary-dark: #{darken($col-primary, 5%)};
  --col-primary-dark-2: #{darken($col-primary, 10%)};
  --col-secondary: #{$col-secondary};
  --col-secondary-alt: #{rgba($col-tertiary, 0.25)};
  --col-secondary-alt-2: #{rgba($col-tertiary, 0.35)};
  --col-tertiary: #{$col-tertiary};

  // Background colours.
  --bg-primary: var(--col-primary);
  --bg-primary-light: var(--col-primary-light);
  --bg-secondary: var(--col-secondary);
  --bg-secondary-alt: var(--col-secondary-alt);
  --bg-tertiary: var(--col-tertiary);

  // Text colours.
  --text-primary: var(--col-secondary);

  // Borders
  --bdr-primary: var(--col-secondary);
  --bdr-secondary: var(--col-secondary-alt);
  --bdr-radius-sm: 3px;
  --bdr-radius-md: 5px;
  --bdr-radius-lg: 7px;

  // Margins.
  --mg-xxs: calc(var(--vr) / 8);
  --mg-xs: calc(var(--vr) / 4);
  --mg-sm: calc(var(--vr) / 2);
  --mg-md: var(--vr);
  --mg-lg: calc(var(--vr) * 2);
  --mg-xl: calc(var(--vr) * 3);

  // Padding.
  --pd-xs: calc(var(--vr) / 4);
  --pd-sm: calc(var(--vr) / 2);
  --pd-md: var(--vr);
  --pd-lg: calc(var(--vr) * 2);

  // z-index.
  --z-overlay: 900;
  --z-header: 800;
  --z-footer: 700;
  --z-default: 1;
  --z-below: -1;
  --z-bottomless-pit: -9000;
}
