// Colours.
$col-primary: #027002;
$col-secondary: #fff;
$col-tertiary: #000;

// Breakpoints
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1366px;

:root {
  // Fonts.
  --font-family: 'Roboto', sans-serif;
  --font-size: 0.8rem;
  --font-size-lg: 0.9rem;

  // Vertical rythm.
  --vr: 1rem;

  // Colours.
  --col-primary: #{$col-primary};
  --col-primary-dark: #{darken($col-primary, 5%)};
  --col-secondary: #{$col-secondary};
  --col-tertiary: #{$col-tertiary};

  // Background colours.
  --bg-primary: var(--col-primary);
  --bg-primary-light: #{lighten($col-primary, 5%)};
  --bg-secondary: var(--col-secondary);
  --bg-tertiary: var(--col-tertiary);

  // Text colours.
  --text-primary: var(--col-secondary);

  // Column padding.
  --col-padding: 0.2rem;
  --col-padding-lg: 0.5rem;

  // Borders
  --bdr-primary: var(--col-secondary);
  --bdr-secondary: var(--col-tertiary);
  --bdr-radius-sm: 3px;
  --bdr-radius-md: 5px;
  --bdr-radius-lg: 7px;

  // Margins.
  --mg-sm: calc(var(--vr) / 2);
  --mg-md: var(--vr);
  --mg-lg: calc(var(--vr) * 2);

  // Padding.
  --pd-xs: calc(var(--vr) / 4);
  --pd-sm: calc(var(--vr) / 2);
  --pd-md: var(--vr);
  --pd-lg: calc(var(--vr) * 2);

  // z-index.
  --z-overlay: 900;
  --z-header: 800;
  --z-footer: 700;
  --z-default: 1;
  --z-below: -1;
  --z-bottomless-pit: -9000;

  // Cards
  --card-width: 33px;
  --card-height: calc(var(--card-width) * 1.4);
  --card-spacer: 0.78;
  --card-sm-multiplier: 1.5;
  --card-width-sm: calc(var(--card-width) * var(--card-sm-multiplier));
  --card-height-sm: calc(var(--card-height) * var(--card-sm-multiplier));
  --card-md-multiplier: 2.25;
  --card-width-md: calc(var(--card-width) * var(--card-md-multiplier));
  --card-height-md: calc(var(--card-height) * var(--card-md-multiplier));
  --card-lg-multiplier: 3.25;
  --card-width-lg: calc(var(--card-width) * var(--card-lg-multiplier));
  --card-height-lg: calc(var(--card-height) * var(--card-lg-multiplier));
  --card-xl-multiplier: 4.25;
  --card-width-xl: calc(var(--card-width) * var(--card-xl-multiplier));
  --card-height-xl: calc(var(--card-height) * var(--card-xl-multiplier));
}
